.board {
    /* z-index: 2; */
    overflow-x: hidden;
    padding: 10px;
    /* min-width: 290px; */
    width: 290px;
    /* max-height: 100%; */
    /* flex-basis: 290px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid black ; */
    border-radius: 20px;
    box-shadow: inset 0 0 10px #ffffff6a;
    /* background-color: #125E8A; */
    background-color: #3D518C;
}

.board_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board_header_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Salsa', cursive;
    font-weight: 300;
    letter-spacing: 2px;
    gap: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.board_header_title span {
    color: white;
}

.board_header_title_more {
    cursor: pointer;
    position: relative;
    color: rgb(0, 0, 0);
}

.board_dropdown {
    box-shadow: 1px 0px 20px rgba(255, 255, 255, 0.957);
    padding: 20px;
    width: 150px !important;
    cursor: default;
}

.board_dropdown p {
    border-bottom: 1px solid #f8f8f8;
    cursor: pointer;
}

.board_cards {
    /* background-color: #000000; */
    /* padding: 10px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    /* box-shadow: 1px 0px 20px rgb(255, 255, 255); */
}

.board_add-card {
    background-color: #7692FF;
    color: #0e0e0e;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
}

.board_add-card_edit {
    background-color: #7692FF;
    border-radius: 10px;
    padding: 10px;
}