.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #c2c2c2;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app_nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 10px 10px 0 10px;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: #e9e4e4;
}
.app_nav h1{
  font-family: 'Courier New', Courier, monospace;

}

.app_boards_container {
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: rgb(0, 0, 0, 0.85)
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* ======================Bubble section======================== */

.bubbles {
  position: relative;
  display: flex;
  z-index: -1;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 10%;
  box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
  animation: animateoppo 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #edff4b;
  box-shadow: 0 0 0 10px #fcfcfc44,
    0 0 50px #fff985,
    0 0 100px #f4ff94;
  animation: animate 15s linear infinite;
  animation-duration: calc(150s / var(--i));
}
.bubbles span:nth-child(3n) {
  background: #ff568f;
  box-shadow: 0 0 0 10px #fcfcfc44,
    0 0 50px #ff8282,
    0 0 100px #ffb7b7;
  animation: animate 15s linear infinite;
  animation-duration: calc(150s / var(--i));
}
.bubbles span:nth-child(5n) {
  background: #2ef961;
  box-shadow: 0 0 0 10px #fcfcfc44,
    0 0 50px #87fd8f,
    0 0 100px #87fd8f;
  animation: animateoppo 15s linear infinite;
  animation-duration: calc(150s / var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(-10vh) scale(1) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) scale(0) rotate(1080deg);
  }
}
@keyframes animateoppo {
  0% {
    transform: translateY(100vh) scale(0) rotate(1080deg);
  }
  100% {
    transform: translateY(-10vh) scale(1) rotate(0deg);
  }
}
/* ======================Bubble section======================== */


.app_boards {
  height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 30px;
}

.app_boards_last {
  flex-basis: 290px;
  min-width: 290px;
}

.app_boards_add-board {
  background-color: #b9b7b7;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}

.app_boards_add-board_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}